.container {
  min-height: 100vh;
  padding: 0 .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #52a3ff;
  background: linear-gradient(to bottom, #52a3ff, #a1cdff);
}

.intro {
  margin-bottom: 4px;
  opacity: 0; /* Start with all elements hidden */
  
}

/* Keyframes for the animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply animations to each element */
.animate1 {
  animation: fadeIn 1s ease 0.5s forwards;
}

.animate2 {
  animation: fadeIn 1s ease 1.5s forwards;
}

.animate3 {
  animation: fadeIn 1s ease 2.5s forwards;
}

.animate4 {
  animation: fadeIn 1s ease 3.5s forwards;
  
}

.title a {
  
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.main {
  padding: 3rem 0;
  flex: 1;
  display: flex;
  
  justify-content: center;
  align-items: center;
  color:#eaeaea;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 1.6rem;
  color:#eaeaea;
  font-weight: 100;
  position: relative;
  right: 100px;
  bottom: 60px;
}

.title {
  text-align: left;
}

.title,
.description {
  text-align: left;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.description {
  align-self: flex-start; /* Move this item to the top of the container */
  margin-top: 3rem;
  font-size: 1.1rem;
  color:#eaeaea;
  
  flex: 1; /* Take up remaining space */
}


.image {
  transform: rotate(20deg);
  margin-left: 2%;
  margin-top:5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .title {
    right: 80px;
    bottom: 40px;
    
  }
  .image {
    width:95%;
    height:35%;
    margin-top: 10%;
    margin-left:0px;
  }
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer img {
  margin-left: 0.5rem;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.iframe {
  width:auto;
  height: 450px;
  

}

.rounded {
  border-radius: 10px; /* Adjust the value to control the roundness of the corners */
  margin-right: 6rem;
  margin-top: 3rem;
  align-self: flex-start; /* Move this item to the top of the container */
}

.pdf {
  padding-bottom: 20px;
}

@media (max-width: 750px) {
  .main {
    flex-direction: column;
    padding-top: 0rem;
  }
  .description {
    font-size: .95rem;
    margin-top: 1rem;
    margin-left:1rem;
  }
  .rounded {
    margin-top: 0rem;
    margin-right: 1rem;
    align-self: center; /* Center the item vertically within the flex container */
  }
  .pdf {
    display: flex;
    justify-content: center;
    align-items: center;
    width:200px;
    
  }
  
  
}
@media (max-width: 800px) and (min-width: 600px) {
  .image {

    width:95%;
    height:35%;
    margin-top: 1%;
    margin-left: 0;
  }
}