.nav {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    line-height: 3rem;
    text-align: left;
    color:rgb(253, 253, 253);
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    
}
.nav:hover,
.nav:focus,
.nav:active {
  color: #0070f3;
  border-color: #0070f3;
}